<html>
  <form method="post">
    <p>
      <input type="checkbox" id="proxy" name="proxy" value="--proxy" />
      <label for="proxy">is proxy</label>
      <input
        type="text"
        name="proxy_value"
        placeholder="socks5://127.0.0.1:1080"
      />
    </p>
    <p>
      <input
        type="checkbox"
        id="windows-filenames"
        name="windows-filenames"
        value="--windows-filenames"
      />
      <label for="proxy">is windows filenames</label>
    </p>
    <p><input type="submit" value="Apply" /></p>
  </form>
</html>
